---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import type { CallToAction as Props } from '~/types';

const {
  variant = 'secondary',
  target,
  text = Astro.slots.render('default'),
  icon = '',
  class: className = '',
  type,
  ...rest
} = Astro.props;

const variants = {
  primary: 'btn-primary',
  secondary: 'btn-secondary',
  tertiary: 'btn btn-tertiary',
  link: 'cursor-pointer hover:text-primary',
};

---

{
  type === 'button' || type === 'submit' || type === 'reset' ? (
    <button type={type} class={twMerge(variants[variant] || '', className, 'loginbutton')} {...rest}>
      <Fragment set:html={text} />
      {icon && <Icon name={icon} class="w-5 h-5 ml-1 -mr-1.5 rtl:mr-1 rtl:-ml-1.5 inline-block" />}
    </button>
  ) : (
    <a
      class={twMerge(variants[variant] || '', className)}
      {...(target ? { target: target, rel: 'noopener noreferrer' } : {})}
      {...rest}
    >
      <Fragment set:html={text} />
      {icon && <Icon name={icon} class="w-5 h-5 ml-1 -mr-1.5 rtl:mr-1 rtl:-ml-1.5 inline-block" />}
    </a>
  )
}
<script>
location.reload();
netlifyIdentity.init({
  locale: 'es',
});
  const netlifyAuth = {
    isAuthenticated: false,
    user: null,
    authenticate() {
      this.isAuthenticated = true;
      netlifyIdentity.open();
      netlifyIdentity.on('login', (user) => { this.user = user; window.location.replace("https://roaring-fenglisu-30090b.netlify.app/plataforma");});
    },
  };
  const buttons = document.querySelectorAll('button.loginbutton');
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      netlifyAuth.authenticate()
    });
  });
</script>
